# Explore data analysis

### Import the neccesary libraries

In [27]:
import pandas as pd

### Define the path for the training and test data

In [28]:
train_csv = "data/raw/train.csv"
train_updates_csv = "data/raw/train_updates_20220929.csv"
test_csv = "data/raw/test.csv"

In [29]:
train_df = pd.read_csv(train_csv)
train_updates_df = pd.read_csv(train_updates_csv)
test_df = pd.read_csv(test_csv)

In [30]:
# seq_id of the row to be deleted in the train file
seq_ids_to_delete = train_updates_df[train_updates_df["pH"].isnull()]["seq_id"].values

# seq_id of the row to be replaced in the train file
seq_ids_to_replace = train_updates_df[train_updates_df["pH"].notnull()]["seq_id"].values

#drop the train rows
train_df.drop(train_df[train_df.seq_id.isin(seq_ids_to_delete)].index, inplace=True)

#replace the train rows with train update row
train_df.loc[train_df.seq_id.isin(seq_ids_to_replace), ["pH", "tm"]] = train_updates_df[train_updates_df.seq_id.isin(seq_ids_to_replace)][["pH", "tm"]].values

In [31]:
train_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28981 entries, 0 to 31389
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   seq_id            28981 non-null  int64
 1   protein_sequence  28981 non-null  object
 2   pH                28695 non-null  float64
 3   data_source       28001 non-null  object
 4   tm                28981 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.3+ MB

In [32]:
# some of the PH values are null so delete those rows
null_seq_ids = train_df[train_df["pH"].isnull()]["seq_id"].values
train_df.drop(train_df[train_df.seq_id.isin(null_seq_ids)].index, inplace=True)

In [33]:
train_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28695 entries, 0 to 31389
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   seq_id            28695 non-null  int64
 1   protein_sequence  28695 non-null  object
 2   pH                28695 non-null  float64
 3   data_source       27727 non-null  object
 4   tm                28695 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.3+ MB

In [34]:
train_df.describe()[['pH', 'tm']].transpose()

      count       mean        std    min   25%   50%   75%    max
pH  28695.0   6.872467   0.793184   1.99   7.0   7.0   7.0   11.0
tm  28695.0  51.385604  12.076609  25.10  43.7  48.8  54.6  130.0

In [35]:
train_df.to_csv("data/source/train.csv", index=False)